.bg-custom{

  background:
    url('logo.jpg') center/contain no-repeat,
    radial-gradient(circle at 50% 40%, rgba(120, 160, 180, 0.25), transparent 50%),
    radial-gradient(circle at 30% 70%, rgba(80, 110, 130, 0.3), transparent 60%),
    radial-gradient(circle at 70% 20%, rgba(200, 220, 230, 0.15), transparent 50%),
    #0b0f12;

}

.bg-custom-no-logo{
    background:     radial-gradient(circle at 50% 40%, rgba(120, 160, 180, 0.25), transparent 50%),
    radial-gradient(circle at 30% 70%, rgba(80, 110, 130, 0.3), transparent 60%),
    radial-gradient(circle at 70% 20%, rgba(200, 220, 230, 0.15), transparent 50%),
    #0b0f12;

}


.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  /* CENTER BOX */
 .center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: clamp(140px, 18vw, 260px);
  height: clamp(140px, 18vw, 260px);

  background: #aaa;
  border-radius: 2vw;
}

  /* ICON GROUP */
  .icon-group {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* MAIN ICON */
  .icon.main {
  width: clamp(60px, 6vw, 110px);
  height: clamp(60px, 6vw, 110px);

  background: #ddd;
  border-radius: 1vw;
  background-size: cover;
  background-position: center;
  }

  /* SMALL ICONS */
  .sub-icons {
  display: flex;
  gap: clamp(6px, 0.5vw, 12px);
  margin-top: clamp(6px, 0.5vw, 10px);
  }

  .sub-icons img {
  width: clamp(22px, 2vw, 40px);
  height: clamp(22px, 2vw, 40px);

  border-radius: 0.4vw;
  }

  /* LEFT SIDE */
  .left-1 { top: 20%; left: 8%; }
  .left-2 { top: 50%; left: 8%; transform: translateY(-50%); }
  .left-3 { bottom: 20%; left: 8%; }

  /* RIGHT SIDE */
  .right-1 { top: 20%; right: 8%; }
  .right-2 { top: 50%; right: 8%; transform: translateY(-50%); }
  .right-3 { bottom: 20%; right: 8%; }



.sub-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-item img {
  width: clamp(22px, 2vw, 40px);
  height: clamp(22px, 2vw, 40px);
    cursor: pointer;
}

.sub-item select {
    display: none;

    margin-top: clamp(4px, 0.3vw, 8px);

    width: 3vw;

    font-size: clamp(12px, 0.8vw, 16px);
}

